/* Styling for all Main Components */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin: 10px;
  font-size: 15px;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  box-shadow: 0 2px 8px -4px #F5F5F5;
  /* border-bottom: 0.1px solid;
  border-bottom-color: white;
  border-bottom-width: thin; */
}

.main-nav {
  list-style-type: none;
}

.main-nav li {
  /* margin: 15px auto; */
  display: inline-block;
  padding: 0px 20px;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7)
}

.logo {
  font-size: 27px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}

.nav-contact {
  border-radius: 14px;
  background-color: #b48c36;
  font-size: 18px;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.nav-contact:hover {

}

.mm-image {
  max-width: 100%;
  height: auto;
  transform: rotate(180deg);
  opacity: 0.5;
  filter: blur(1px);
}

.mm-home-head,
.mm-home-head2 {
  /* font-family: 'Great Vibes', cursive; */
  color: white;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  font-size: 75px;
  font-weight: bolder;
  text-align: center;
}

.mm-home-head {
  top: 2%;
}

.mm-home-head2 {
  top: 65%;
}

.home-header {
  box-shadow: 0 3px 6px -5px #F5F5F5;
  margin-bottom: 100px;
  position: relative;
}


.mm-home-num {
  color: #b48c36;
  /* font-family: 'Great Vibes', cursive; */
  font-size: 120px;
}

.home-stories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
